/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 abr. 2021, 20:17:02
    Author     : alexa
*/

body {
    width: 100%;
}
#signup-form {
    width: 30%;
    margin: 10% auto;
}
.signup-container{
    margin: 0 auto;
}
.signup-form-1{
    padding: 5%;
    background: #73C2FB;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.signup-form-1 h3{
    text-align: center;
    color: #fff;
}
.signup-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.signup-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0F52BA;
}
.signup-form-1 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.form-group {
    width: 80%;
    margin: 10px auto;
}
.signup-controls {
    text-align: center;
}
#login-control {
    background-color: none;
    border: none;
}
#login-control a {
    color: white;
}