<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControllerUser</servlet-name>
        <servlet-class>controllers.ControllerUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerUser</servlet-name>
        <url-pattern>/ControllerUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControlUser</servlet-name>
        <servlet-class>controllers.ControlUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlUser</servlet-name>
        <url-pattern>/ControlUser</url-pattern>
    </servlet-mapping>
</web-app>
